@model IEnumerable<Gunis.Kitchen.ViewModel.UserListViewModel>

    @{
    ViewData["Title"] = "List of Users";
}

<style>
    th,td{
        color:white;
    }

</style>

<div class="container">

<h1>@ViewData["Title"]</h1>


<p>
    <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/RegisterAdmin">Register New Manager</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RolesOfUser)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @String.Join(", ", item.RolesOfUser)
            </td>
        </tr>
}
    </tbody>
</table>

</div>

